<!DOCTYPE html>
<html lang="en">
<body>
<!-- HEADER -->
<header>
  <!-- TOP HEADER -->
  <div id="top-header">
    <div class="container">
      <ul class="header-links pull-right">
        <li><a routerLink="/profile"><i class="fa fa-user-o"></i> {{authState == false? 'LOGIN' : 'My Account'}}</a></li>
      </ul>
    </div>
  </div>
  <!-- /TOP HEADER -->

  <!-- MAIN HEADER -->
  <div id="header">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">

        <!-- SEARCH BAR -->
        <div class="media-middle">
          <div class="header-search">
            <div class="row-cols-1">
              <input type="text" class="form-control" id="name" required [(ngModel)]="name" placeholder="Search here..."/>
              <button class="search-btn" (click)="onSearch()" class="search-btn">Search</button>
            </div>
            <h1></h1>
            <button (click)="selectCategory('all')">All Category</button>
            <button (click)="selectCategory('international')">International</button>
            <button (click)="selectCategory('domestic')">Domestic</button>
            <button (click)="selectCategory('politics')">Politics</button>
            <button (click)="selectCategory('sport')">Sport</button>
          </div>
        </div>
        <!-- /SEARCH BAR -->

      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </div>
  <!-- /MAIN HEADER -->
</header>
<!-- /HEADER -->


