<!DOCTYPE html>
<html lang="en">
    <body>

        <div class="col-ld-12">
            <div class="col-md-12 col-sm-6" *ngFor="let n of newsList | paginate: config">
<!--                <img [src]="n.image" alt="{{n.header}}" width="200px" class="card-img-top" style="cursor: pointer;">-->
                <div class="card-header" style="cursor: pointer" (click)="selectNews(n.id)">
                  <div class="card-title">
                    <p>{{n.header | titlecase}}</p>
                  </div>
                </div>
            </div>
        </div>

      <pagination-controls (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls>

    </body>
</html>
